.login-button {
    background-color: #f6cd61;
    width: 35%;
    height: 8%;
    margin-bottom: 20%;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:focus {
    outline: none;
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-input-box{
    width: 35%;
    height: 2%;
    margin: 2% 0;
    border-color:grey;
}

.username-input-box:focus{
    outline: none;
}
